n8n/workflows/collector-browser-automation.json
{
  "name": "collector-browser-automation",
  "nodes": [
    {
      "id": "c01",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        100,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */12 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "c02",
      "name": "Set Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ],
      "parameters": {
        "jsCode": "const ctx = {\n  workflow_name:    'collector-browser-automation',\n  collector_id:     'browser-automation',\n  collector_name:   'Browser Automation',\n  source_slug:      'browser-automation',\n  source_type:      'github-search',\n  category_hint:    'ai-tools',\n  collector_version:'1.0.0',\n  pipeline_version: '1.0.0',\n  run_id:           `run_${Date.now()}`,\n  started_at:       new Date().toISOString(),\n};\nconsole.log('[START]', JSON.stringify(ctx));\nreturn [{ json: { _ctx: ctx } }];"
      }
    },
    {
      "id": "c03",
      "name": "Fetch Browser Automation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/search/repositories?q=topic:browser-automation+topic:ai&sort=updated&order=desc&per_page=25",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "User-Agent",
              "value": "AI-Intelligence-OS/1.0"
            },
            {
              "name": "Authorization",
              "value": "token {{ $vars.GITHUB_TOKEN }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "c03b",
      "name": "Extract Search Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ],
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst items = resp.items || [];\nconsole.log(`[FETCH] got ${items.length} items`);\nreturn items.map(i => ({ json: i }));"
      }
    },
    {
      "id": "c04",
      "name": "Add Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "jsCode": "const ctx = $('Set Context').first().json._ctx;\nconst items = $input.all();\nif (items.length === 0) {\n  return [{ json: { _ctx: ctx, _empty: true } }];\n}\nreturn items.map(item => ({ json: { ...item.json, _ctx: ctx } }));"
      }
    },
    {
      "id": "c05",
      "name": "Execute Pipeline",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "source": "database",
        "workflowId": "CONFIGURE_AFTER_IMPORT"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Context": {
      "main": [
        [
          {
            "node": "Fetch Browser Automation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Browser Automation": {
      "main": [
        [
          {
            "node": "Extract Search Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Search Items": {
      "main": [
        [
          {
            "node": "Add Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Context": {
      "main": [
        [
          {
            "node": "Execute Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "error-handler",
    "saveManualExecutions": true
  },
  "active": false,
  "_meta": {
    "version": "1.0.0",
    "collector_id": "browser-automation",
    "source_slug": "browser-automation",
    "group": "github",
    "fetchType": "github-search",
    "schedule": "0 */12 * * *",
    "description": "Browser automation with AI",
    "onlyCollectorSpecificNodes": [
      "Fetch Browser Automation",
      "Extract Search Items"
    ],
    "pipelineRef": "pipeline-master",
    "setupNote": "After importing: set PIPELINE_MASTER_WORKFLOW_ID env var to the pipeline-master workflow ID"
  }
}