n8n/workflows/collector-ai-opportunities.json
{
  "name": "collector-ai-opportunities",
  "nodes": [
    {
      "id": "c01",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        100,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "c02",
      "name": "Set Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ],
      "parameters": {
        "jsCode": "const ctx = {\n  workflow_name:    'collector-ai-opportunities',\n  collector_id:     'ai-opportunities',\n  collector_name:   'AI Opportunities',\n  source_slug:      'ai-opportunities',\n  source_type:      'rss',\n  category_hint:    'opportunities',\n  collector_version:'1.0.0',\n  pipeline_version: '1.0.0',\n  run_id:           `run_${Date.now()}`,\n  started_at:       new Date().toISOString(),\n};\nconsole.log('[START]', JSON.stringify(ctx));\nreturn [{ json: { _ctx: ctx } }];"
      }
    },
    {
      "id": "c03",
      "name": "Fetch AI Opportunities RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "parameters": {
        "url": "https://feeds.feedburner.com/ycombinator"
      }
    },
    {
      "id": "c04",
      "name": "Add Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ],
      "parameters": {
        "jsCode": "const ctx = $('Set Context').first().json._ctx;\nreturn $input.all().map(item => ({ json: { ...item.json, _ctx: ctx } }));"
      }
    },
    {
      "id": "c05",
      "name": "Execute Pipeline",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "source": "database",
        "workflowId": "={{ $env.PIPELINE_MASTER_WORKFLOW_ID || 'CONFIGURE_AFTER_IMPORT' }}"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Context": {
      "main": [
        [
          {
            "node": "Fetch AI Opportunities RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch AI Opportunities RSS": {
      "main": [
        [
          {
            "node": "Add Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Context": {
      "main": [
        [
          {
            "node": "Execute Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "error-handler",
    "saveManualExecutions": true
  },
  "active": false,
  "_meta": {
    "version": "1.0.0",
    "collector_id": "ai-opportunities",
    "source_slug": "ai-opportunities",
    "group": "opportunities",
    "fetchType": "rss",
    "schedule": "0 6 * * *",
    "description": "Free credits, betas, student offers",
    "onlyCollectorSpecificNodes": [
      "Fetch AI Opportunities RSS"
    ],
    "pipelineRef": "pipeline-master",
    "setupNote": "After importing: set PIPELINE_MASTER_WORKFLOW_ID env var to the pipeline-master workflow ID"
  }
}