n8n/workflows/collector-openai.json
{
  "name": "collector-openai",
  "nodes": [
    {
      "id": "n01",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        100,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */2 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "n02",
      "name": "Set Workflow Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ],
      "parameters": {
        "jsCode": "const ctx = {\n  workflow_name:    'collector-openai',\n  collector_id:     'openai',\n  collector_name:   'OpenAI',\n  source_slug:      'openai-blog',\n  source_type:      'rss',\n  category_hint:    'model-releases',\n  collector_version:'1.0.0',\n  pipeline_version: '1.0.0',\n  run_id:           `run_${Date.now()}`,\n  started_at:       new Date().toISOString(),\n  max_items:        20,\n};\nconsole.log('[START]', JSON.stringify(ctx));\nreturn [{ json: { _ctx: ctx } }];"
      }
    },
    {
      "id": "n03",
      "name": "Fetch OpenAI RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "parameters": {
        "url": "https://openai.com/blog/rss.xml"
      }
    },
    {
      "id": "n04",
      "name": "Limit Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ],
      "parameters": {
        "jsCode": "// Respect max_items from context\nconst ctx = $('Set Workflow Context').first().json._ctx;\nconst all = $input.all();\nconst limited = all.slice(0, ctx.max_items || 20);\nconsole.log(`[FETCH] got=${all.length} processing=${limited.length}`);\nreturn limited;"
      }
    },
    {
      "id": "n05",
      "name": "Add Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ],
      "parameters": {
        "jsCode": "const ctx = $('Set Workflow Context').first().json._ctx;\nconst items = $input.all();\nif (items.length === 0) {\n  return [{ json: { _ctx: ctx, _empty: true } }];\n}\nreturn items.map(item => ({ json: { ...item.json, _ctx: ctx } }));"
      }
    },
    {
      "id": "n06",
      "name": "Execute Pipeline",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1060,
        300
      ],
      "parameters": {
        "source": "database",
        "workflowId": "CONFIGURE_AFTER_IMPORT"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Workflow Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Workflow Context": {
      "main": [
        [
          {
            "node": "Fetch OpenAI RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch OpenAI RSS": {
      "main": [
        [
          {
            "node": "Limit Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit Items": {
      "main": [
        [
          {
            "node": "Add Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Context": {
      "main": [
        [
          {
            "node": "Execute Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "error-handler",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "active": false,
  "_meta": {
    "version": "1.0.0",
    "collector_id": "openai",
    "source_slug": "openai-blog",
    "group": "ai-companies",
    "fetchType": "rss",
    "schedule": "0 */2 * * *",
    "description": "Production OpenAI Blog RSS collector. Refactored to lightweight architecture calling pipeline-master.",
    "onlyCollectorSpecificNodes": [
      "Fetch OpenAI RSS"
    ],
    "pipelineRef": "pipeline-master",
    "setupNote": "After importing: set PIPELINE_MASTER_WORKFLOW_ID env var to the pipeline-master workflow ID"
  }
}