n8n/workflows/collector-youtube.json
{
  "name": "collector-youtube",
  "nodes": [
    {
      "id": "c01",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        100,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "c02",
      "name": "Set Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ],
      "parameters": {
        "jsCode": "const ctx = {\n  workflow_name:    'collector-youtube',\n  collector_id:     'youtube',\n  collector_name:   'YouTube AI',\n  source_slug:      'youtube',\n  source_type:      'youtube',\n  category_hint:    'learning',\n  collector_version:'1.0.0',\n  pipeline_version: '1.0.0',\n  run_id:           `run_${Date.now()}`,\n  started_at:       new Date().toISOString(),\n};\nconsole.log('[START]', JSON.stringify(ctx));\nreturn [{ json: { _ctx: ctx } }];"
      }
    },
    {
      "id": "c03",
      "name": "Fetch YouTube Videos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/youtube/v3/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "q",
              "value": "AI LLM artificial intelligence 2025"
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "order",
              "value": "date"
            },
            {
              "name": "maxResults",
              "value": "25"
            },
            {
              "name": "key",
              "value": "={{ $vars.YOUTUBE_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "c03b",
      "name": "Extract YouTube Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ],
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst vids = resp.items || [];\nreturn vids.map(v => ({ json: { title: v.snippet.title, url: `https://www.youtube.com/watch?v=${v.id.videoId}`, author: v.snippet.channelTitle, published_at: v.snippet.publishedAt, content_raw: v.snippet.description, tags: [], metadata: { videoId: v.id.videoId, channelId: v.snippet.channelId } } }));"
      }
    },
    {
      "id": "c04",
      "name": "Add Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "jsCode": "const ctx = $('Set Context').first().json._ctx;\nconst items = $input.all();\nif (items.length === 0) {\n  return [{ json: { _ctx: ctx, _empty: true } }];\n}\nreturn items.map(item => ({ json: { ...item.json, _ctx: ctx } }));"
      }
    },
    {
      "id": "c05",
      "name": "Execute Pipeline",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "source": "database",
        "workflowId": "CONFIGURE_AFTER_IMPORT"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Context": {
      "main": [
        [
          {
            "node": "Fetch YouTube Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch YouTube Videos": {
      "main": [
        [
          {
            "node": "Extract YouTube Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract YouTube Items": {
      "main": [
        [
          {
            "node": "Add Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Context": {
      "main": [
        [
          {
            "node": "Execute Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "error-handler",
    "saveManualExecutions": true
  },
  "active": false,
  "_meta": {
    "version": "1.0.0",
    "collector_id": "youtube",
    "source_slug": "youtube",
    "group": "learning",
    "fetchType": "youtube",
    "schedule": "0 6 * * *",
    "description": "YouTube AI channels and content",
    "onlyCollectorSpecificNodes": [
      "Fetch YouTube Videos",
      "Extract YouTube Items"
    ],
    "pipelineRef": "pipeline-master",
    "setupNote": "After importing: set PIPELINE_MASTER_WORKFLOW_ID env var to the pipeline-master workflow ID"
  }
}