n8n/workflows/collector-vercel-ai.json
{
  "name": "collector-vercel-ai",
  "nodes": [
    {
      "id": "c01",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        100,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */6 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "c02",
      "name": "Set Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ],
      "parameters": {
        "jsCode": "const ctx = {\n  workflow_name:    'collector-vercel-ai',\n  collector_id:     'vercel-ai',\n  collector_name:   'Vercel AI SDK',\n  source_slug:      'vercel-ai',\n  source_type:      'github-releases',\n  category_hint:    'frameworks',\n  collector_version:'1.0.0',\n  pipeline_version: '1.0.0',\n  run_id:           `run_${Date.now()}`,\n  started_at:       new Date().toISOString(),\n};\nconsole.log('[START]', JSON.stringify(ctx));\nreturn [{ json: { _ctx: ctx } }];"
      }
    },
    {
      "id": "c03",
      "name": "Fetch Vercel AI SDK Releases",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/vercel/ai/releases?per_page=10",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "User-Agent",
              "value": "AI-Intelligence-OS/1.0"
            },
            {
              "name": "Authorization",
              "value": "token {{ $env.GITHUB_TOKEN }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "c04",
      "name": "Add Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ],
      "parameters": {
        "jsCode": "const ctx = $('Set Context').first().json._ctx;\nreturn $input.all().map(item => ({ json: { ...item.json, _ctx: ctx } }));"
      }
    },
    {
      "id": "c05",
      "name": "Execute Pipeline",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "source": "database",
        "workflowId": "={{ $env.PIPELINE_MASTER_WORKFLOW_ID || 'CONFIGURE_AFTER_IMPORT' }}"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Context": {
      "main": [
        [
          {
            "node": "Fetch Vercel AI SDK Releases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Vercel AI SDK Releases": {
      "main": [
        [
          {
            "node": "Add Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Context": {
      "main": [
        [
          {
            "node": "Execute Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "error-handler",
    "saveManualExecutions": true
  },
  "active": false,
  "_meta": {
    "version": "1.0.0",
    "collector_id": "vercel-ai",
    "source_slug": "vercel-ai",
    "group": "ai-companies",
    "fetchType": "github-releases",
    "schedule": "0 */6 * * *",
    "description": "Vercel AI SDK releases",
    "onlyCollectorSpecificNodes": [
      "Fetch Vercel AI SDK Releases"
    ],
    "pipelineRef": "pipeline-master",
    "setupNote": "After importing: set PIPELINE_MASTER_WORKFLOW_ID env var to the pipeline-master workflow ID"
  }
}