n8n/workflows/pipeline-master.json
{
  "name": "pipeline-master",
  "nodes": [
    {
      "id": "p00",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "parameters": {}
    },
    {
      "id": "p01",
      "name": "Normalize Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        300
      ],
      "parameters": {
        "jsCode": "// ── NORMALIZE (multi-format — handles RSS, GitHub, Reddit, HN, YouTube, GraphQL) ──\nfunction isPrimitive(val) {\n  return val !== Object(val);\n}\nfunction get(obj, ...keys) {\n  for (const k of keys) {\n    let v = obj;\n    for (const p of k.split('.')) { if (v == null) break; v = v[p]; }\n    if (v === undefined || v === null) continue;\n    if (isPrimitive(v)) {\n      if (String(v).trim() !== '') return v;\n      continue;\n    }\n    if (Array.isArray(v)) return v;\n    if (v._ !== undefined && v._ !== null && isPrimitive(v._)) {\n      if (String(v._).trim() !== '') return v._;\n    }\n    if (v['#text'] !== undefined && v['#text'] !== null && isPrimitive(v['#text'])) {\n      if (String(v['#text']).trim() !== '') return v['#text'];\n    }\n  }\n  return null;\n}\nfunction normalizeUrl(u) {\n  if (!u) return '';\n  try { const x = new URL(String(u).trim()); ['utm_source','utm_medium','utm_campaign','ref'].forEach(p => x.searchParams.delete(p)); return x.href; } catch { return String(u).trim(); }\n}\nfunction normalizeDate(v) {\n  if (!v) return null;\n  if (typeof v === 'number') v = v > 9999999999 ? new Date(v) : new Date(v * 1000);\n  try { const d = new Date(v); return isNaN(d.getTime()) ? null : d.toISOString(); } catch { return null; }\n}\nfunction normalizeTags(t) {\n  if (!t) return [];\n  const arr = Array.isArray(t) ? t : String(t).split(',');\n  return arr.map(s => {\n    const n = get(s, 'name') || String(s);\n    return String(n).trim().toLowerCase().replace(/\\s+/g,'-').replace(/[^a-z0-9-]/g,'');\n  }).filter(s => s.length > 0 && s.length <= 50).slice(0, 20);\n}\nfunction normalizeTitle(raw) {\n  const t = get(raw, 'title._', 'title.#text', 'title', 'name', 'tag_name', 'subject');\n  return t ? String(t).trim().replace(/\\s+/g,' ').slice(0,500) : null;\n}\nfunction normalizeContent(raw) {\n  const c = get(raw, 'content:encoded', 'content_html', 'content', 'contentSnippet', 'body', 'description', 'selftext', 'text', 'summary');\n  return c ? String(c).slice(0, 50000) : null;\n}\n\nconst out = $input.all().map(item => {\n  const raw = item.json;\n  if (raw._empty) return null;\n  const ctx = raw._ctx || {};\n  const title = normalizeTitle(raw);\n  const url = normalizeUrl(get(raw, 'link', 'url', 'html_url', 'permalink_url', 'canonical_url') || '');\n  if (!title || !url) return null;\n  return { json: {\n    _ctx:         ctx,\n    title,\n    url,\n    source_slug:  ctx.source_slug || get(raw, 'source_slug') || '',\n    content_raw:  normalizeContent(raw),\n    author:       String(get(raw, 'creator', 'author', 'author.login', 'author.name', 'by', 'user.login', 'user.username') || '').slice(0,200) || null,\n    published_at: normalizeDate(get(raw, 'isoDate', 'pubDate', 'published_at', 'created_at', 'updated_at', 'created_utc', 'published', 'createdAt')),\n    tags:         normalizeTags(get(raw, 'categories', 'topics', 'tags', 'topics.edges') || []),\n    language:     'en',\n    category_hint:ctx.category_hint || '',\n    external_id:  String(get(raw, 'guid', 'id', 'full_name', 'external_id') || '').slice(0,200) || null,\n    metadata:     { source_type: ctx.source_type || 'unknown', guid: get(raw,'guid','id') },\n    collected_at: new Date().toISOString(),\n  }};\n}).filter(Boolean);\nconsole.log(`[NORMALIZE] in=${$input.all().length} out=${out.length}`);\nreturn out;"
      }
    },
    {
      "id": "p02",
      "name": "Validate Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        300
      ],
      "parameters": {
        "jsCode": "const REQUIRED = ['title','url','source_slug'];\nfunction validate(item) {\n  const errors = [];\n  for (const f of REQUIRED) { if (!item[f] || !String(item[f]).trim()) errors.push(f+':required'); }\n  if (item.url) { try { new URL(item.url); } catch { errors.push('url:invalid'); } }\n  if (!Array.isArray(item.tags)) errors.push('tags:must-be-array');\n  if (item.published_at) { const d = new Date(item.published_at); if (isNaN(d.getTime())) errors.push('published_at:invalid'); }\n  return errors;\n}\n\nconst items = $input.all();\nfor (const item of items) {\n  const errors = validate(item.json);\n  item.json.validation_errors = errors;\n  console.log('[DEBUG VALIDATE]', JSON.stringify({\n    title: item.json.title,\n    url: item.json.url,\n    published_at: item.json.published_at,\n    tags: item.json.tags,\n    validation_errors: errors\n  }));\n}\nreturn items;"
      }
    },
    {
      "id": "p03",
      "name": "Enrich Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        300
      ],
      "parameters": {
        "jsCode": "function hashUrl(url) {\n  const s = url.trim().toLowerCase();\n  let h = 2166136261;\n  for (let i = 0; i < s.length; i++) { h ^= s.charCodeAt(i); h = (h * 16777619) >>> 0; }\n  return h.toString(16).padStart(8,'0');\n}\nfunction readTime(text) { return !text ? 1 : Math.max(1, Math.round(text.trim().split(/\\s+/).length / 200)); }\n\nconst enriched = $input.all().map(item => {\n  const i = item.json;\n  const ctx = i._ctx || {};\n  return { json: {\n    ...i,\n    url_hash:            hashUrl(i.url),\n    language:            i.language || 'en',\n    fetched_at:          new Date().toISOString(),\n    estimated_read_time: readTime(i.content_raw),\n    metadata: {\n      ...(i.metadata || {}),\n      collector_name:    ctx.workflow_name    || 'unknown',\n      collector_version: ctx.collector_version|| '1.0.0',\n      pipeline_version:  ctx.pipeline_version || '1.0.0',\n      source_slug:       ctx.source_slug      || i.source_slug,\n    },\n  }};\n});\nconsole.log(`[ENRICH] enriched=${enriched.length}`);\nreturn enriched;"
      }
    },
    {
      "id": "p04",
      "name": "Check Existing Hashes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        980,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "http://localhost:3000/api/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "pageSize",
              "value": "200"
            }
          ]
        },
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "p05",
      "name": "Filter Duplicates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ],
      "parameters": {
        "jsCode": "const response = $('Check Existing Hashes').first().json;\nconst existing = new Set((response?.data?.results || []).map(r => r.url_hash).filter(Boolean));\nconst allItems = $('Enrich Items').all();\nconst seen = new Set();\nconst newItems = [];\nfor (const item of allItems) {\n  const h = item.json.url_hash;\n  if (existing.has(h) || seen.has(h)) { console.log('[DEDUP] skip:', item.json.url); }\n  else { newItems.push(item); seen.add(h); }\n}\nconsole.log(`[DEDUP] new=${newItems.length} dup=${allItems.length - newItems.length}`);\nreturn newItems;"
      }
    },
    {
      "id": "p06",
      "name": "Has New Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1420,
        300
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      }
    },
    {
      "id": "p07",
      "name": "Resolve Source ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1640,
        180
      ],
      "parameters": {
        "method": "GET",
        "url": "http://localhost:3000/api/sources",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "slug",
              "value": "={{ $('Execute Workflow Trigger').first().json?._ctx?.source_slug || '' }}"
            }
          ]
        },
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "p08",
      "name": "Attach Source ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1860,
        180
      ],
      "parameters": {
        "jsCode": "const src = $('Resolve Source ID').first().json?.data;\nconst sourceId = src?.id ?? null;\nif (!sourceId) console.warn('[STORE] no source_id for slug:', $('Execute Workflow Trigger').first().json?._ctx?.source_slug);\nreturn $('Filter Duplicates').all()\n  .filter(item => !!sourceId)\n  .map(item => {\n    const { _ctx, ...rest } = item.json;\n    return { json: {\n      source_id:            sourceId,\n      title:                rest.title,\n      url:                  rest.url,\n      content_raw:          rest.content_raw,\n      author:               rest.author,\n      published_at:         rest.published_at,\n      tags:                 rest.tags,\n      importance_score:     0.5,\n      external_id:          rest.external_id,\n      category_hint:        rest.category_hint,\n      estimated_read_time:  rest.estimated_read_time,\n      language:             rest.language,\n      raw_payload:          rest,\n      normalized_payload:   {\n        title: rest.title, url: rest.url, source_slug: rest.source_slug,\n        author: rest.author, published_at: rest.published_at, tags: rest.tags,\n        language: rest.language, content_raw: rest.content_raw,\n      },\n      metadata: {\n        ...(rest.metadata || {}),\n        url_hash: rest.url_hash,\n        fetched_at: rest.fetched_at,\n      },\n    }};\n  });"
      }
    },
    {
      "id": "p09",
      "name": "Store Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2080,
        180
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/news",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "bodyParameters": {},
        "options": {
          "timeout": 15000,
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetweenTries": 2000
          },
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "p10",
      "name": "No New Items",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1640,
        440
      ],
      "parameters": {}
    },
    {
      "id": "p11",
      "name": "Execution Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2520,
        300
      ],
      "parameters": {
        "jsCode": "const triggerNode = $('Execute Workflow Trigger').first();\nconst ctx          = triggerNode ? triggerNode.json?._ctx || {} : {};\nconst isEmpty      = triggerNode ? !!triggerNode.json?._empty : true;\nconst allRaw       = isEmpty ? 0 : $('Execute Workflow Trigger').all().length;\nconst normalized   = $('Normalize Items').all().length;\nconst validated    = $('Validate Items').all().length;\nconst deduped      = $('Filter Duplicates').all().length;\nconst storeRes     = (() => { try { return $('Store Items').all(); } catch { return []; } })();\nconst stored       = storeRes.filter(r => r.json?.success === true && r.json?.data !== null).length;\nconst duplicates   = storeRes.filter(r => r.json?.success === true && r.json?.data === null).length;\nconst storeFailed  = storeRes.filter(r => r.json?.success === false).length;\n\nconst report = {\n  collector_id:     ctx.collector_id    || ctx.workflow_name || 'unknown',\n  collector_name:   ctx.collector_name  || ctx.workflow_name || 'unknown',\n  source_slug:      ctx.source_slug     || 'unknown',\n  run_id:           ctx.run_id          || 'unknown',\n  started_at:       ctx.started_at      || new Date().toISOString(),\n  finished_at:      new Date().toISOString(),\n  duration_ms:      ctx.started_at ? Date.now() - new Date(ctx.started_at).getTime() : 0,\n  status:           storeFailed > 0 ? 'partial' : 'success',\n  items_fetched:    allRaw,\n  items_validated:  validated,\n  items_stored:     stored,\n  items_duplicate:  (validated - deduped) + duplicates,\n  items_skipped:    normalized - validated,\n  store_failures:   storeFailed,\n  version:          ctx.collector_version || '1.0.0',\n};\nconsole.log('[SUMMARY]', JSON.stringify(report));\nreturn [{ json: report }];"
      }
    },
    {
      "id": "p12",
      "name": "Record Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2740,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/collector-health",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { collector_id: $json.collector_id, collector_name: $json.collector_name, status: $json.status, last_run_at: $json.finished_at, last_run_duration_ms: $json.duration_ms, items_fetched: $json.items_fetched, items_stored: $json.items_stored, items_duplicate: $json.items_duplicate, items_skipped: $json.items_skipped, store_failures: $json.store_failures, current_version: $json.version } }}",
        "bodyParameters": {},
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "p13",
      "name": "Record Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2960,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/collector-runs",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $('Execution Summary').first().json }}",
        "bodyParameters": {},
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "p14",
      "name": "Enqueue for AI Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2300,
        180
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/processing/queue",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { news_id: $json.data?.id || null } }}",
        "bodyParameters": {},
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Normalize Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Items": {
      "main": [
        [
          {
            "node": "Validate Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Items": {
      "main": [
        [
          {
            "node": "Enrich Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Items": {
      "main": [
        [
          {
            "node": "Check Existing Hashes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Hashes": {
      "main": [
        [
          {
            "node": "Filter Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Duplicates": {
      "main": [
        [
          {
            "node": "Has New Items?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Items?": {
      "main": [
        [
          {
            "node": "Resolve Source ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No New Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Source ID": {
      "main": [
        [
          {
            "node": "Attach Source ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Source ID": {
      "main": [
        [
          {
            "node": "Store Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Items": {
      "main": [
        [
          {
            "node": "Enqueue for AI Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No New Items": {
      "main": [
        [
          {
            "node": "Execution Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Summary": {
      "main": [
        [
          {
            "node": "Record Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Health": {
      "main": [
        [
          {
            "node": "Record Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Run": {
      "main": [
        []
      ]
    },
    "Enqueue for AI Processing": {
      "main": [
        [
          {
            "node": "Execution Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "active": false,
  "_meta": {
    "version": "1.0.0",
    "description": "Universal pipeline sub-workflow. Called by every collector via Execute Workflow node. Only the Fetch step in the parent collector workflow differs between collectors.",
    "entryPoint": "Execute Workflow Trigger",
    "stages": [
      "Normalize",
      "Validate",
      "Enrich",
      "Dedup",
      "Store",
      "Summary",
      "Health"
    ]
  }
}